body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #444;
    margin-bottom: 10px;
}

h1 i, h2 i {
    margin-right: 10px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.calculation-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculation-part {
    flex: 1 1 45%;
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calculation-part h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #333;
}

.calculation-part input,
.result-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result-section {
    text-align: center;
    margin: 20px 0;
}

.terminal {
    background-color: #000;
    color: #0f0;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#terminal-text {
    color: #0f0;
}

.adsense {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
